#card {
    width: 100%;
    border: 2px solid grey;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 16px;
    position: relative;
    margin: 10px 0;
}
#card::before {
    position: absolute;
    content: "'";
    left: 32px;
    top: -22px;
    border-right: 6px solid #827c7cb3;
    color: #827c7cb3;
}
.info {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.score {
    color: #009688;
    margin-right: 24px;
}
.text_bold {
    color: #009688;
    font-weight: 900;
}
.jr_text {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 4px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 3px;
    right: 2px;
    background: #ecad39b8;
    border-radius: 50%;
    border: 1px solid white;
}
.image {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px;
}
.headlines {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.headline {
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.subHeadline {
    color: grey;
    font-weight: 300;
    font-size: 14px;
}
